---

- name: "Install cli tools"
  hosts: "all:localhost"
  tags:
    - "cli"
  vars:
    config_version: "v2.0.0"  # x-release-please-version
    tools_folder: "/usr/local/opt/"
    tools:
      - name: "zellij"
        version: "v0.43.1"
        github_repo: "https://github.com/zellij-org/zellij"
        artifact_name: "zellij-x86_64-unknown-linux-musl.tar.gz"
      - name: "helix"
        version: "25.07.1"
        github_repo: "https://github.com/helix-editor/helix"
        artifact_name: "helix-25.01.1-x86_64-linux.tar.xz"
        bin_path: "helix/helix-25.01.1-x86_64-linux/hx"
      - name: "starship"
        version: "v1.23.0"
        github_repo: "https://github.com/starship/starship"
        artifact_name: "starship-x86_64-unknown-linux-gnu.tar.gz"
      - name: "erd"
        version: "v3.1.2"
        github_repo: "https://github.com/solidiquis/erdtree"
        artifact_name: "erd-v3.1.2-x86_64-unknown-linux-gnu.tar.gz"
  tasks:
    - name: "Create bin folder"
      ansible.builtin.file:
        path: "{{ item }}"
        state: "directory"
      become: true
      loop: "{{ [tools_folder] | product(tools | map(attribute='name')) | map('join', '') }}"

    - name: "Extract tool"
      ansible.builtin.unarchive:
        src: "{{ item.github_repo }}/releases/download/{{ item.version }}/{{ item.artifact_name }}"
        dest: "{{ tools_folder ~ item.name }}"
        remote_src: yes
      become: true
      loop: "{{ tools }}"
      loop_control:
        label: "{{ item.name }} ({{ item.version }})"

    - name: "Create a symbolic link"
      ansible.builtin.file:
        src: "{{ tools_folder ~ ( item.bin_path | default(item.name ~ '/' ~ item.name)) }}"
        dest: "/usr/local/bin/{{ item.name }}"
        state: "link"
      become: true
      loop: "{{ tools }}"
      loop_control:
        label: "{{ tools_folder ~ ( item.bin_path | default(item.name ~ '/' ~ item.name)) }} to /usr/local/bin/{{ item.name }}"

- name: "Install dotfiles"
  hosts: "all:localhost"
  tags:
    - "config"
  vars:
    stow_configs:
      - "alacritty"
      - "fish"
      - "zellij"
      - "helix"
      - "erdtree"
  tasks:
  - name: "Clone repository to {{ ansible_env.HOME }}"
    ansible.builtin.git:
      repo: "https://github.com/import-benjamin/.dotfiles.git"
      dest: "{{ ansible_env.HOME }}/.dotfiles"
      version: "{{ config_version | default(omit) }}"

  - name: "Fetch {{ ansible_env.HOME }}/.config directories"
    ansible.builtin.stat:
      path: "{{ ansible_env.HOME }}/.config/{{ item }}"
    register: "sym"
    loop: "{{ stow_configs }}"
    loop_control:
      label: "{{ ansible_env.HOME }}/.config/{{ item }}"

  - name: "Update stow configuration"
    ansible.builtin.command: "stow {{ '-R ' if config_dir.stat.islnk is defined and config_dir.stat.islnk }}{{ item }}"
    args:
      chdir: "{{ ansible_env.HOME }}/.dotfiles"
    loop: "{{ stow_configs }}"
    loop_control:
      label: "stow {{ '-R ' if config_dir.stat.islnk is defined and config_dir.stat.islnk }}{{ item }}"
    vars:
      config_dir: "{{ sym.results | selectattr('item', 'equalto', item) | first }}"
