keybinds {
    normal {
    }
    locked {
    }
    resize {
    }
    pane {
    }
    move {
    }
    tab {
    }
    scroll {
    }
    search {
    }
    entersearch {
    }
    renametab {
    }
    renamepane {
    }
    session {
    }
    tmux {
    }
    shared_except "locked" {
    }
    shared_except "normal" "locked" {
    }
    shared_except "pane" "locked" {
    }
    shared_except "resize" "locked" {
    }
    shared_except "scroll" "locked" {
    }
    shared_except "session" "locked" {
    }
    shared_except "tab" "locked" {
    }
    shared_except "move" "locked" {
    }
    shared_except "tmux" "locked" {
    }
}

simplified_ui false
pane_frames false
mouse_mode false
show_startup_tips false
theme "iceberg-dark"
